{{ $headless := .Site.GetPage "/sections" }}
{{ $intro := $headless.Resources.GetMatch (printf "*%s*" "details") }}
{{ $fts := sort ( $headless.Resources.Match "features/*.md" ) "Params.weight" }}

<div id="details" class="w-full min-h-screen flex flex-col justify-center items-center bg-indigo-800 py-12">
    <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
        <h2 class="tracking-wide text-pink-600 font-bold text-4xl mb-4">{{ $intro.Title }}</h2>
        <div class="font-light text-gray-200 text-xl mb-6">
            {{ $intro.Content }}
        </div>
    </div>
    <div class="self-center w-full xl:w-4/5 flex flex-col sm:flex-row flex-wrap px-4 xl:px:0">
        {{ range $fts }}
            <div class="w-full sm:w-1/2 flex flex-row flex-no-wrap hover:shadow-lg hover:bg-indigo-600 px-4 sm:px-8 py-6 sm:py-12">
                <div class="w-1/3 xl:w-1/4">
                    <img src="/img/features/{{ .Params.icon }}" alt="{{ .Title }}" class="w-16 block sm:mx-auto">
                </div>
                <div class="w-2/3 xl:w-3/4">
                    <h3 class="tracking-wide text-pink-600 font-bold text-2xl uppercase mb-2">{{ .Title }}</h3>
                    <div class="font-light text-gray-200 text-lg">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
    <div class="self-center text-center w-full sm:w-1/3 px-4 sm:px-0">
        <h3 class="font-bold tracking-widest text-pink-600 text-2xl my-6">{{ $intro.Param "afterTitle" }}</h3>
    </div>
    <div class="flex flex-row w-full justify-center pt-6">
        <a class="px-10 py-2 text-gray-200 bg-pink-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#respond">Connect with the Festival!</a>
    </div>
</div>